body {
    background: rgb(22, 38, 92);
    color: white;
}

div.profile img {
    display: block;
    max-width: 25%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    
}

div.profile p{
    background-color:rgba(170, 14, 35, 0.733);
    text-align: center;      
}

h2 {
    text-align: center;
}

p {
    font-size: 125%;
    text-align: center;
}

img#site-banner{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;    
}

img#chess-banner{
    padding-top: 50px;
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

img#puzzle-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:25%;
    height: auto; 
    padding:top 50px;   
}

input#puzzle-button {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 10%;
    font-size: 100%;
}


