body {
    background: rgb(22, 38, 92);
    color: white;
}

div.my-pic img {
    max-width: 25%;
    height: auto;
}

p {
    font-size: 125%;
}

div.greeting{
    background-color:rgba(170, 14, 35, 0.733);
}

